/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size:100%;*/
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
	margin-bottom: 1px;
}
/* FONTS */
@font-face {
	font-family: 'Celias Medium';
	src: url("../fonts/CeliasMedium/2CC715_0_0.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/CeliasMedium/2CC715_0_0d41d.eot?#iefix") format("embedded-opentype"), url("../fonts/CeliasMedium/2CC715_0_0.woff2") format("woff2"), url("../fonts/CeliasMedium/2CC715_0_0.woff") format("woff"), url("../fonts/CeliasMedium/2CC715_0_0.ttf") format("truetype");
}
/* VARIABLES */
/* VARIABLES */
/* colors */
/* sizes */
/* MIXINS */
/* HTML STYLES */
* {
	/* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
	font-family: 'roboto', 'Helvetica', 'Arial', Sans-Serif;
}
body, html {
	height: 100%;
	min-height: 100%;
}

h1, h2 {
	color: #5d5d5d;
	font-size: 52px;
	font-weight: 100;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.0;
	font-family: 'roboto', 'Helvetica', 'Arial', Sans-Serif;
}
#body {
	font-size: 100%;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_31.gif) center no-repeat #fff;
}
/* CLASS STYLES */
.slide {
	display: block;
	width: 100%;
	clear: both;
	overflow: hidden;
	position: relative;
}
.mobile-only {
	display: none;
}
/* HEADER */

body.noAnimation #header {
	position: relative;
}
/* HERO */
#hero {
	background: #7da1d3;
	padding-top: 90px;
	text-align: center;
	letter-spacing: 3px;
	height: 700px !important;
	z-index: 1;
	min-height: 500px;
}
#hero img.logo {
	display: none;
}
#hero h1 {
	font-family: "Celias Medium", "Roboto", sans-serif;
	letter-spacing: 5px;
	padding: 0.5em 0 15px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 22px;
	line-height: 1.05;
	color: #ffffff;
}
#hero h2 {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 32px;
	color: #ffffff;
}
#hero div.hr {
	margin: 0 auto 20px;
	width: 15%;
	height: 4px;
	background: #1194F7;
}
#hero img.rocket {
	position: absolute;
	z-index: -1;
	margin: 0 auto;
	width: 119%;
	top: 51%;
	left: 10%;
	-webkit-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
}
.video {
	margin: 0;
	text-align: center;
}
.video iframe {
	border: 1px solid #ccc;
	padding: 5px;
}
.navmenu {
	text-align: center;
	width: 100%;
}
.navmenu ul li {
	display: inline-block;
	margin: 25px 10px;
}
.navmenu ul li a{
	color: #000;
    text-decoration: none;
}
 @media all and (max-aspect-ratio: 12 / 9) {
#hero img.rocket {
	top: 60%;
}
}
 @media all and (max-aspect-ratio: 11 / 9) {
#hero img.rocket {
	top: 70%;
}
}
/* SERVICES */
#services {
	background: #FFF;
	padding: 0 50px 0;
	font-size: 1.5em;
}
#services h2 {
	margin: 1em 0 0.5em;
}
#services div.icons {
	margin-top: 0.62em;
}
#services div.icons div.icon {
	width: 24.333%;
	float: left;
	position: relative;
}
#services div.icons div.icon > h4 {
	color: #707174;
	font-size: 32px;
	line-height: 1.0;
	font-weight: 100;
	margin-bottom: 16px;
	text-align: center;
	font-family: 'roboto', 'Helvetica', 'Arial', Sans-Serif;
}
#services div.icons div.icon img {
	width: 48%;
	display: block;
	margin: 0 auto;
	transition: opacity 0.3s;
}
#services div.icons div.icon div.extra {
	position: relative;
	top: 1.91em;
	bottom: 0;
	left: 11%;
	width: 80%;
	font-size: .14em;
	line-height: 1.0;
	font-weight: 300;
	opacity: 1;
	transition: opacity 0.3s;
	background: none;
	color: #707174;
	cursor: default;
}
#services div.icons div.icon div.extra p {
	position: relative;
	width: 100%;
	padding: 60px 35px 10px 35px;
	top: 50%;
	-webkit-transform: translateY(-30%);
	-ms-transform: translateY(-30%);
	transform: translateY(-30%);
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
}
/* #services div.icons div.icon.active div.extra {
        opacity: 1; }*/
#services .description {
	width: 100%;
	padding: 0;
}
#services .description h5 {
	padding: .15em .5em;
	font-size: .38em;
	line-height: 1.3;
	font-weight: 100;
	color: #707174;
	text-align: center;
}
#services .description h6 {
	margin-top: .2em;
	text-align: center;
	font-size: .16em;
	color: #828285;
	line-height: 1.25em;
	font-weight: 300;
}
#services .description h6 i {
	font-size: .35em;
	line-height: .2em;
	vertical-align: middle;
	margin: 0 .9em;
	color: #D5D5D5;
}
#founders {
	position: relative;
	background: #313132;
}
#founders img {
	width: 100%;
	display: block;
}
#founders img.easy {
	min-height:200px
}
#founders div.icons {
	margin-top: 50px;
}
#founders div.icons div.icon {
	width: 24.333%;
	float: left;
	position: relative;
}
#founders div.icons div.icon > h4 {
	color: #fff;
	font-size: 22px;
	line-height: 1.0;
	font-weight: 100;
	margin-bottom: .6em;
	text-align: center;
}
#founders div.icons div.icon img {
	width: 72px;
	display: block;
	margin: 0 auto 20px auto;
	transition: opacity 0.3s;
}
#founders .descrip h4 {
	color: #fff;
	padding: 4% 0;
	text-align: center;
	font-size: 32px;
	font-weight: normal;
}

#founders .video-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000;
	opacity: 0.7;
	z-index: 999;
}
#founders .video-overlay-content{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: 999;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#founders .video-overlay-content h2{
	color: #ffffff;
}

/* WORK */
#work {
	position: relative;
	background: #fff;
	padding: 3% 0;
}
#work img {
	width: auto;
	display: block;
	margin:75px auto 0 auto;
}
#work1 {
	position: relative;
	background: #f2f2f2;
	padding: 3% 0;
}
#work1 img {
	width: auto;
	display: block;
	margin:75px auto 0 auto;
}

#javabeans {
	position: relative;
	background: #313132;
}
#javabeans img, #ormowcs img, #jsp img, #html img, #comshell img {
	width: 100%;
	display: block;
}
#javabeans img.javabeans, #ormowcs img.jsp, #jsp img.jsp, #html img.html, #comshell img.comshell {
	min-height:200px;
}
#javabeans .video-overlay, #ormowcs .video-overlay, #jsp .video-overlay, #comshell .video-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000;
	opacity: 0.7;
	z-index: 999;
}
#javabeans .video-overlay-content, #ormowcs .video-overlay-content, #jsp .video-overlay-content, #html .video-overlay-content, #comshell .video-overlay-content{
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: 999;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#ormowcs .video-overlay-content, #jsp .video-overlay-content, #comshell .video-overlay-content{
	top: 40%;
}
#ormowcs .video-overlay-content h2, #jsp .video-overlay-content h2, #comshell .video-overlay-content h2{
	color: #ffffff;
}
#ormowcs .descrip h4, #jsp .descrip h4, #comshell .descrip h4, #owcscode .descrip h4 {
	color: #fff;
	padding: 4% 0;
	text-align: center;
	font-size: 32px;
	font-weight: normal;
	bottom:0;
	position: relative;
}

#comshell .descrip h4 {
	padding: 2% 0;
}
#html .video-overlay-content h4 {
    font-size: 54px;
    font-weight: normal;
	padding-left: 2%;
}
#owcscode h2 {
	margin: 5% auto;
}
#owcscode .descrip h4 {
	color: #333;
	padding: 2% 0;
}
/* MOBILE */
/* VARIABLES */
/* colors */
/* sizes */
@media all and (max-width: 499px) {
	h1, h2 {
		font-size:22px;
	}
.mobile-only {
	display: inherit;
}
.web-only {
	display: none;
}
h1 {
	font-size: 13vw;
}
.navmenu ul li {
	margin: 25px -1px;
}
#header {
	/*display: none;*/
	padding: 15px 5px;
}
#hero {
	padding-top: 0;
	max-height: 180vw;
}
#hero img.logo {
	display: block;
	margin: 9.5vw auto 55px;
	text-align: center;
	height: 79px;
}
#hero h1 {
	font-size: 8.5vw;
	letter-spacing: 1.1vw;
	padding-top: 0;
	margin-top: 0;
	line-height: 1.22;
	padding-bottom: 0.38em;
}
#hero div.hr {
	width: 28vw;
	height: 3px;
	margin-bottom: 0.9em;
}
#hero h2 {
	font-size: 18px;
	letter-spacing: 0.7vw;
	font-weight: 300;
	line-height: 1.32;
}
#hero img.rocket {
	width: 160%;
	left: -5%;
	top: 63%;
}
.video iframe {
	width: 80%;
}
#services {
	padding: 0 5px 0;
}
#services h2 {
	margin: 12px 0 0;
}
#services div.icons {
	margin-top: 18px;
}
#services div.icons div.icon {
	width: 100%;
	float: none;
	margin-bottom: 18px;
}
#services div.icons div.icon img {
	width: 36vw;
	transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

#services div.icons div.icon h4 {
	font-size: 18px;
	margin-bottom: 6px;
	color:#707174;
}
#services div.icons div.icon img {
	width: 28%;
}
#services div.icons div.icon div.extra {
	top: 0;
	background: none;
	color: #707174;
	font-size: 10px;
	width: 100%;
	left:0;
	height: auto;
	text-align: left;
	margin: 8% auto;
	opacity: 1 !important;
}
#services div.icons div.icon div.extra p {
	padding: 0;
	font-size: 12px;
}
/*#services div.icons div.icon.active div.extra {
          opacity: 1 !important; }*/
#services div.icons div.icon.active img {
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
#services div.icons div.icon:last-child {
	margin-bottom: 12vw;
}
#services div.description {
	width: 100%;
	position: absolute;
	top: 2%;
	left: 0;
	right: 0;
	padding: 0;
}
#services div.description h5 {
	margin: 8vw 8vw 0;
	padding: 0;
	font-size: 7.5vw;
}
#services div.description h5 br {
	display: none;
}
#services div.description h6 {
	display: none;
}
#founders {
	background: #ffffff;
}
#founders .video {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height:auto;
}
#founders .video h2 {
	position: relative;
	z-index: 1000;
	color: #ffffff;
	line-height: 1.2;
	padding: 1% 0 0 0;
}
#founders .video .video-overlay {
	opacity: 0.5;
}
#founders .video .video-overlay-content {
	height: auto;
	margin-top: 0;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	top: 0;
}
#founders .video .video-overlay-content .icons {
	margin-top: 5px;
}
#founders .video .video-overlay-content .icons .icon img {
	width: 50%;
	margin-bottom:5px;
}
#founders .video .video-overlay-content h4, #founders .video .video-overlay-content .icons .icon h4 {
	font-size: 12px;
	padding:0;
}
#work h1 {
	margin: 1% 0;
}
#work img{
	width: 96%;
	margin:0 1%;
}
#work1 h1 {
	margin: 1% 0;
}
#work1 img{
	width: 96%;
	margin:0 1%;
}
#javabeans .video-overlay-content {
	top:20%;
}
#javabeans h2 {
	margin: 2% 0;
}
#ormowcs .video-overlay-content, #jsp .video-overlay-content, #comshell .video-overlay-content{
	top: 50%;
}
#comshell .video-overlay-content{
	font-size: 16px;
}
#ormowcs .descrip h4, #jsp .descrip h4, #comshell .descrip h4, #owcscode .descrip h4 {
	font-size: 16px;
	padding: 2px 0;
}
#html .video-overlay-content h4 {
    font-size: 11px;
}
}
@media all and (max-width: 650px) {
.navmenu ul li a{
    font-size: 10px;
    letter-spacing: 0;
    width: auto;
}
.navmenu ul li a img{
	width: 70%;
}
}
@media all and (min-width: 500px) and (max-width: 899px) {
h1, h2 {
	font-size: 22px;
	text-align: center;
	line-height: 22px;
	width: 100%;
}
.mobile-only {
	display: inherit;
}
.web-only {
	display: none;
}
h1 {
	font-size: 9.75vw;
}
.main-nav-link {
 padding: 0 7px;
}
.article-title {
 font-size:26px;
}
#hero {
	padding-top: 0;
	max-height: 180vw;
}
#hero img.logo {
	display: block;
	margin: 30px auto 55px;
	text-align: center;
	height: 79px;
}
#hero h1 {
	font-size: 8.5vw;
	letter-spacing: 1.1vw;
	padding-top: 0;
	margin-top: 0;
	line-height: 1.22;
	padding-bottom: 0.38em;
}
#hero div.hr {
	width: 28vw;
	height: 3px;
	margin-bottom: 0.9em;
}
#hero h2 {
	font-size: 22px;
	letter-spacing: 0.7vw;
	font-weight: 300;
	line-height: 1.32;
}
#hero img.rocket {
	width: 160%;
	left: -5%;
	top: 63%;
}
#services {
	padding: 0 5px 0;
}
#services h1 {
	margin: 9vw 0 0;
}
#services div.icons {
	margin-top: 4.5%;
}
#services div.icons div.icon {
	width: 100%;
	float: none;
	margin-bottom: 6%;
}
#services div.icons div.icon img {
	width: 18%;
	transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}
#services div.icons div.icon h4 {
	font-size: 18px;
	margin-bottom: 10px;
}
#services div.icons div.icon div.extra {
	top: 0;
	background: none;
	color: #707174;
	font-size: 10px;
	width: 80%;
	height: auto;
	left: 0;
	text-align: left;
	margin: 5% auto;
	opacity: 1 !important;
}
#services div.icons div.icon div.extra p {
	padding: 0;
	font-size: 16px;
}
#services div.icons div.icon.active div.extra {
	opacity: 1 !important;
}
#services div.icons div.icon.active img {
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
#services div.icons div.icon:last-child {
	margin-bottom: 9vw;
}
#services div.description {
	width: 100%;
	position: absolute;
	top: 22.5vw;
	left: 0;
	right: 0;
	padding: 0;
}
#services div.description h5 {
	margin: 6vw 8vw 0;
	padding: 0;
	font-size: 5.625vw;
}
#services div.description h5 br {
	display: none;
}
#services div.description h6 {
	display: none;
}
#founders {
	background: #ffffff;
}
#founders .video {
	position: relative;
	margin: 0 auto;
	width: 100%;
}
#founders .video h1 {
	position: relative;
	z-index: 1000;
	color: #ffffff;
	line-height: 1.2;
	padding: 2% 0;
}
#founders .video .video-overlay {
	opacity: 0.5;
}
#founders .video .video-overlay-content {
	height: auto;
	margin-top: 5%;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	top: 0;
}
#founders .video .video-overlay-content .icons {
	margin-top: 20px;
}
#founders .video .video-overlay-content .icons .icon img {
	width: 50%;
	margin-bottom:10px;
}
#founders .video .video-overlay-content h4, #founders .video .video-overlay-content .icons .icon h4 {
	font-size: 14px;
	padding:10px 0;
}
#work h1 {
	margin: 1% 0;
}
#work img{
	width: 96%;
	margin:0 1%;
}
#work1 h1 {
	margin: 1% 0;
}
#work1 img{
	width: 96%;
	margin:0 1%;
}
#javabeans h2 {
	margin: 1% 0;
}
#ormowcs .descrip h4, #jsp .descrip h4, #comshell .descrip h4, #owcscode .descrip h4 {
	font-size: 18px;
}
#html .video-overlay-content h4 {
    font-size: 22px;
}
}
@media all and (min-width: 900px) and (max-width: 1399px) {
	#html .video-overlay-content h4 {
		font-size: 32px;
	}
}

